{% extends "index.html" %}
{% block selected %}
    <p>
        You have selected {{show_selected}}
    </p>
{% endblock selected %}
{% block links %}
    <div class="navbar-nav mr-auto">
        <p>
            {% for value in seasons.values() %}
                {% for season in value %}
                    <a class="nav-item nav-link" href="{{ url_for('get_episodes',show=show_selected,season=season) }}">{{ season }}</a>
                {% endfor %}
            {% endfor %}
        </p>
    </div>
    <div class="navbar-nav mr-auto">
        <p>
            Seasons Available:
            {% for char in characters %}
                <a class="nav-item nav-link" href="{{ url_for('get_character_info',show=show_selected,character=char) }}">{{ char }}</a>
            {% endfor %}
        </p>
    </div>
    {% block eps %}{% endblock eps %}  
    {% block info %}{% endblock info %}
{% endblock links %}