{% extends "index.html" %}
{% block selected %}
   <p>
      You have selected {{show_selected}}
   </p>
{% endblock selected %}
{% block seasons %}
   <div class="container">
      <select name="season" method="POST" action="/">
            {% for value in seasons.values() %}
               {% for season in value %}
                  <option value="{{season}}" SELECTED>{{season}}</option>
               {% endfor %}
            {% endfor %}
      </select>
   </div>
   {% block info %}{% endblock info %}
{% endblock seasons %}